@using FinalProject.Domain.Entities
@model User


<div class="col-md-4 mb-4 proj_body_profile">
    <div class="profile_form_container">
        <div class="profile-card-body">
            <h5 class="card-title">@Model.Login</h5>
            <p class="card-text">@Model.Role</p>
        </div>
        @if (User.IsInRole("Participant"))
        {
            <div class="profile-card-body true">
                <p class="profile-card-text" style="text-align: left;">Name: @Model?.Participant?.Name</p>
                <p class="profile-card-text" style="text-align: left;">Last name:@Model?.Participant?.LastName</p>
                <p class="profile-card-text" style="text-align: left;">Skills: @String.Join(", ", Model?.Participant?.Skills)</p>
                @if (Model?.Participant != null && Model.Participant.Achievements != null && Model.Participant.Achievements.Any())
                {
                    <p class="profile-card-text">Achievements: @String.Join(", ", Model.Participant.Achievements)</p>
                }
            </div>
            @if (Model?.Participant?.Projects != null && Model.Participant.Projects.Any())
            {
                <h5 class="profile-card-text">Projects:</h5>

                @foreach (var project in Model.Participant.Projects)
                {
                    <div class="profile-card-body">
                        <h3 class="profile-card-text" style="font-size: 2em">@project.Name</h3>
                        <p class="profile-card-text">@project.PreviewDescription</p>
                        <p class="profile-card-text"><small>Categories: @project.Category</small></p>
                        @if (!string.IsNullOrEmpty(project.filePath))
                        {
                            <img src="~/uploads/@project.filePath" style="border-radius: 10px; margin-bottom: 10px;" class="img-fluid">
                        }
                        <p text-left>Creation Date: @project.CreationDate.ToString("dd/MM/yyyy")</p>
                        <a asp-controller="MainPage" asp-action="ShowProjectsDetails" asp-route-projectId="@project.Id" class="btn btn-primary project-details-link">View Details</a>
                    </div>
                }
            }
            else
            {
                <h5 class="profile-card-text">Projects:</h5>
                <div class="profile-card-body">
                    <p class="profile-card-text">No projects available.</p>
                </div>
            }
        }
        @if (User.IsInRole("Investor"))
        {
            <div class="profile-card-body true">
                <p class="profile-card-text" style="text-align: left;">Name:  @Model?.Investor?.Name</p>
                <p class="profile-card-text" style="text-align: left;">Bio:  @Model?.Investor?.Description</p>
                <p class="profile-card-text" style="text-align: left;">Contacts:  @string.Join(", ", Model?.Investor?.Contacts ?? [])</p>
                @if (Model?.Investor?.InvestedProjects != null && Model.Investor.InvestedProjects.Any())
                {

                    @foreach (var project in Model.Investor.InvestedProjects)
                    {
                        <div class="profile-card-body">
                            <h5 class="profile-card-text">Invested projects:</h5>
                            <h5 class="profile-card-text">@project.Name</h5>
                            <p class="profile-card-text">@project.PreviewDescription</p>
                            <p class="profile-card-text"><small class="text-muted">@project.Category</small></p>
                            @if (!string.IsNullOrEmpty(project.filePath))
                            {
                                <img src="~/uploads/@project.filePath" style="border-radius: 10px; margin-bottom: 10px;" class="img-fluid">
                            }
                            <p text-left>Creation Date: @project.CreationDate.ToString("dd/MM/yyyy")</p>
                            <a asp-controller="MainPage" asp-action="ShowProjectsDetails" asp-route-projectId="@project.Id" class="btn btn-primary project-details-link">View Details</a>
                        </div>
                    }
                }
                else
                {
                    <h5 class="profile-card-text">Projects:</h5>
                    <div class="profile-card-body">
                        <p class="profile-card-text">No projects available.</p>
                    </div>
                }
            </div>

        }
