@using FinalProject.Domain.Entities
@model Project

<div class="project-details-body">
    <div class="project-details-container">
    <div class="top-half-project">
    <h1 class="view_project_name">@Model.Name</h1>
    <h3 class="view_project_prevdesc">@Model.PreviewDescription</h3>
    @if (!string.IsNullOrEmpty(Model.filePath))
    {
        <img class="view_project_img" src="~/uploads/@Model.filePath" style="max-width: 100%; border-radius: 10px;" />
    }
    </div>
    <div class="project-description">
            <h4 class="view_project_fulldesc">Description</h4>
            @if (Model.FullDescription != null)
            {
                <pre class="view_project_fulldesc">@Model.FullDescription</pre>
            }
            else
            {
                <pre class="view_project_fulldesc">No description...</pre>
            }
    </div>
    <style>
        pre { 
            max-width: 100%;
            overflow-x: auto; 
            white-space: pre-wrap;
        }
    </style>
    <div class="project-category">
            <h4 class="view_project_category">Category:</h4>
        <p class="view_project_category">@Model.Category</p>
    </div>

    <div class="project-dates">
            <h4 class="view_project_crdate">Creation Date:</h4>
            <p class="view_project_crdate"> @Model.CreationDate.ToString("dd/MM/yyyy")</p>
            <h4 class="view_project_deadline">Deadline:</h4>
    @if (Model.Deadline.HasValue)
    {
        <p class="view_project_deadline">@Model.Deadline.Value.ToString("dd/MM/yyyy")</p>
    }
    else
    {
        <p class="view_project_deadline">Deadline: No deadline specified</p>
    }
    </div>
    <div class="proj_participants">
            <h4 class="view_project_participants">Participants</h4>
    <p class="view_project_participants">
        <ul>
            @foreach (var participant in Model.Participants)
            {
                <li>@participant.Name @participant.LastName</li>
            }
        </ul>
    </p>
    </div>

    <div class="proj_investors">
            <h4 class="view_project_investors">Investors</h4>
    @if (Model.Investors.Any())
{
    <p class="view_project_investors">
        <ul>
            @foreach (var investor in Model.Investors)
            {
                <li>@investor.Name</li>
            }
        </ul>
    </p>
}
else
{
    <p class="view_project_investors">This project does not have any investors yet.</p>
}
    </div>
</div>

    <div class="proj_budget">
        <h4 class="view_project_teambudget">Team budget:</h4>
        @if (Model.TeamsBudget != 0)
        {
            <p class="view_project_teambudget">$@Model.TeamsBudget</p>
        }
        else
        {
            <p class="view_project_teambudget">This project has no budget.</p>
        }
        <h4 class="view_project_reqbudget">Required budget:</h4>
        @if (Model.RequiredBudget != 0)
        {
            <p class="view_project_teambudget">$@Model.RequiredBudget</p>
        }
        else
        {
            <p class="view_project_teambudget">Not specified.</p>
        }
    </div>
</div>